@import url("https://fonts.googleapis.com/css?family=Poppins:100,400,500,600,700,900");
@charset "UTF-8";

/*style*/

@font-face {
  font-family: 'Flow';
  src: url("../fonts/Flow.eot");
  src: local("☺"), url("../fonts/Flow.woff") format("woff"), url("../fonts/Flow.ttf") format("truetype"), url("../fonts/Flow.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  display: block;
  background: transparent;
  cursor: pointer;
  font-family: "Myriad Pro", sans-serif;
}

input:focus {
  outline: none;
}

body {
  color: #3c3c3c;
  font-size: 14px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  width: 100%;
}

.section__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -3px;
}

.section__text {
  font-size: 18px;
  line-height: 34px;
}

.slick-slide {
  outline: none;
}

input[type="search"] {
  color: #fff !important;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff !important;
}

input[type="search"]::-moz-placeholder {
  color: #fff !important;
}

.navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

.logo-icon {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 12px;
  color: #fff;
}

.logo-text p {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}

main {
  margin-top: 74px;
}

.footer {
  margin-top: 40px;
  background: #3f51b5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .copyright {
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 14px;
}

.banner {
  background: url("../img/main-img.jpeg") no-repeat;
  background-size: cover;
  padding-top: 100px;
  min-height: 500px;
  height: auto;
  position: relative;
}

.banner:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

.banner__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.banner form {
  max-width: 570px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.banner .search input {
  width: 100%;
  font-size: 22px;
  padding-bottom: 0;
  color: #fff;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.banner .search button {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #fff;
  padding: 8px 52px;
  font-size: 16px;
}

.vacancies__wrapper {
  margin-top: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 30px #dadada;
  box-shadow: 0 4px 30px #dadada;
}

.vacancies__title {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}

.vacancies__item {
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vacancies__item-title {
  font-size: 20px;
  display: block;
  color: #3f51b5;
  margin-bottom: 20px;
}

.vacancies__item-title:hover {
  text-decoration: underline;
}

.vacancies__item-text {
  font-size: 14px;
  line-height: 20px;
}

.vacancies__item-content {
  max-width: 85%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
}

.vacancies__item-info {
  max-width: 15%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vacancies__item-price {
  color: #00c851;
  font-size: 26px;
}

.vacancies .view-all {
  display: block;
  text-align: center;
  margin: 15px auto;
  max-width: 320px;
  font-size: 14px;
  padding: 13px;
}

.add {
  padding: 50px 0;
}

.add__title {
  margin-bottom: 30px;
}

.add__form .btn {
  margin-left: 0;
  margin-top: 35px;
}

.add__wrapper {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 30px #dadada;
  box-shadow: 0 4px 30px #dadada;
  padding: 20px;
}

.add__wrapper .row {
  margin: 0;
}

.single {
  padding: 50px 0;
}

.single .row {
  margin: 0;
}

.single hr {
  display: block;
  margin: 30px 0;
}

.single__wrapper {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 30px #dadada;
  box-shadow: 0 4px 30px #dadada;
  padding: 20px;
}

.single__title {
  font-size: 30px;
  font-weight: 400;
}

.single__text {
  font-size: 14px;
  line-height: 22px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.author__name {
  font-size: 18px;
  color: #3f51b5;
}

.request__title {
  font-size: 30px;
  font-weight: 400;
}

.jobs__form {
  max-width: 480px;
}

.jobs__form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jobs__form-search .input {
  width: 100%;
}

.jobs__form-search .input input {
  height: 35px;
  margin-bottom: 0;
}

.jobs__form-search .btn {
  padding: 8px 43px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.jobs__form-bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jobs__form-bottom .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jobs__form-bottom .price input {
  max-width: 130px;
  height: 26px;
  margin: 0 8px;
  font-size: 12px;
}

.jobs .single__title {
  margin-bottom: 30px;
}

.jobs .vacancies__item:first-child {
  border-top: none;
}

.jobs .vacancies__item:last-child {
  border-bottom: none;
}